future==0.18.2
gdown==4.2.0
iso8601==0.1.16
jupyter==1.0.0
jupyter-contrib-nbextensions==0.5.1
picosdk==1.0
pip-chill==1.0.1
pyqt5==5.15.6
pyserial==3.5
pysocks==1.7.1
pywavelets==1.1.1
seaborn==0.11.2
websockets==10.0
yapf==0.31.0
